.titleWrapper {
    display: flex;
    width: 1120px;
    margin: auto;
}

.title {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 56px;
    margin: 0;
}
    