

.searchPageWrapper{
  margin-bottom: 168px;
  height: 100%;
}



.searchListTitle {
  display: flex;
  margin: 0 auto  ;
  max-width: 1120px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  margin-bottom: 65px;
}